.app {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
    background-color: #f8f9fa;
    margin-left: 270px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
}